<!-- 
  Anzeige eines Datepickers:
  Der Picker sendet seine Auswahl an die Komponente darüber zurück.


  Eingebunden wird die Komponente mit: 
    importieren: npm install bseblocks

    im script: import Datepicker from 'bseblocks/components/Datepicker.vue

    im template: 

    <Datepicker
      :min="'2023-06-08'"
      :max="'2023-06-08'"
      @input="console.log('input bekommen:', $event.target.value, $event)"
    />

  Komponente verlangt Min, Max als Props.
-->

<script setup>

import { ref, computed, onMounted, onUpdated } from 'vue'

//props definiert
const props =  defineProps({
    min: String,
    max: String
});

//min und max verdaten
//new Date(year, monthIndex, day)
const minDate = ref(
  new Date(
    props.min.split("-")[0],
    props.min.split("-")[1],
    props.min.split("-")[2]
  )
)
const maxDate = ref(
  new Date(
    props.max.split("-")[0],
    props.max.split("-")[1],
    props.max.split("-")[2]
  )
)

//definition der emis
const emit = defineEmits(['input'])

//variable des datums initialisiert
const eingabe = ref(
  "2023-06-14"
)

const eingabeIstValid = computed(() => {
  /**
   * Ermittelt, ob das Datum nach Min und Max valide ist.
   * Computed Property
   */
  var eingabeDate = new Date(
      eingabe.value.split("-")[0],
      eingabe.value.split("-")[1],
      eingabe.value.split("-")[2]
    )

  //console.log("min, eingabe, max:",  eingabeDate.getTime() - minDate.value.getTime() >= 0 && maxDate.value.getTime() - eingabeDate.getTime() >= 0)
  return eingabeDate.getTime() - minDate.value.getTime() >= 0 && maxDate.value.getTime() - eingabeDate.getTime() >= 0
})

const validCSS = computed(() => {
  return eingabeIstValid? 'valid': 'invalid'
})

</script>

<template>
  <!--p>props: {{ props }}</p>
  <p>eingabe: {{ eingabe }}</p>
  <p>validity: {{ eingabeIstValid }}</p-->
  <div>
    <input :class="eingabeIstValid? 'valid': 'invalid'"
      type="date" 
      v-model="eingabe"
      min="min"
      max="max"
      @input="$emit('input', $event, eingabe, eingabeIstValid)"
    >
  </div>  
</template>

<style scoped>
.invalid {
  border-color: coral;
  border-style: solid;
  color:coral;
}

.valid {
  border-color:aquamarine;
}
</style>
