<!-- 
  Anzeige eine SankeyDiagramms:
  Eingebunden wird die Komponente mit: 
  
  importieren: npm install bseblocks
  
  im script: import SankeyDiagramm from './components/SankeyDiagrammPlotly.vue
  
  im template: 
  
  <DiagrammSankey
    :überschrift="'PROZESSANALYSE'"
    :beschreibung="'Das Chart zeigt der Lauf der Kunden durch die Applikation. Die höchsten Gradienten zeigen die Handlungspunkte mit dem größten Wirkpotential auf.'"
    :width="1000" 
    :height="500"
    :stationen="['Start A', 'Start B', 'B1', 'B2', 'Ende A', 'Ende B']"
    :flüsse="{
      source: [0,1,0,2,3,3],
      target: [2,3,3,4,4,5],
      value:  [8,4,2,8,4,2]
    }"
  />

  Komponente verlangt Überschrift, Width und Height als Props.
  Die Daten des Charts werden als StationenBezeichnung und StationenDatenflüsse verändert.
  Soll sich mit der Anpassung der Daten ändern.
-->

<script setup>

import { ref, onMounted, onUpdated } from 'vue'

//npm install plotly.js-dist
//import Plotly from "plotly.js-dist"
//https://plotly.com/javascript/sankey-diagram/#style-sankey-diagram
import Plotly from 'plotly.js-dist-min'

//props definiert
const props =  defineProps({
    überschrift: String,
    beschreibung: String,
    width: Number,
    height: Number,
    stationen: Array, //["Start A", "Start B", "B1", "B2", "Ende A", "Ende B"]
    flüsse: Object /** {
                    source: [0,1,0,2,3,3],
                    target: [2,3,3,4,4,5],
                    value:  [8,4,2,8,4,2]
                  } */
});

//bezeichungen der stationen
//muss angepasst werden
const StationenBezeichnung = ref(props.stationen)

//datenflüsse zwischen den stationen
//muss angepasst werden
const StationenDatenflüsse = ref(props.flüsse)

 //das konstruierte datenobjekt   
const chartData = ref(
  [{
    type: "sankey",
    orientation: "h",
    node: {
      pad: 15,
      thickness: 30,
      line: {
        color: "black",
        width: 0.0
      },
      label: StationenBezeichnung.value,
      //color: ["blue", "blue", "blue", "blue", "blue", "blue"]
    },
    link: StationenDatenflüsse.value
  }]
)
//das screenLayout
const screenLayout = ref(
  {
    //title: props.überschrift,
    width: props.width,
    height: props.height,
    font: {
      size: 10
    }
  }
)
//update des charts
function updateChart(chartData, screenLayout){
  /**
   * aktualisiert das Chart
   */
  //console.log(Plotly.build)
   Plotly.react( 
    "sankey"
    , chartData.value
    , screenLayout.value
  );

  
}


onMounted(() => {
  /**
   * Wird beim Mounten
   */

  updateChart(chartData, screenLayout)

})

onUpdated(() => {
  /**
   * Wird jeder Anpassung des Dom aufgerufen.
   */
  updateChart(chartData, screenLayout
  )
})



</script>

<template>

  <h1 :v-if="props.überschrift">{{props.überschrift}}</h1>
  <p :v-if="props.beschreibung">{{ props.beschreibung }}</p>
  <!--p>{{ props }}</p>
  <p>{{ this }}</p>
  <p>{{ chartData }}</p>
  <p>{{ screenLayout }}</p-->
  <div id="sankey"></div>

</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
