<!-- 
  Anzeige ein BarChart: https://plotly.com/javascript/filled-area-plots/#stacked-area-chart
  Eingebunden wird die Komponente mit: 
  
  importieren: npm install bseblocks, npm install chart.js
  
  im script: import DiagrammBarfrom './components/DiagrammBar.vue
  
  im template: 
  
  <DiagrammBar
    :überschrift="'PROZESSANALYSE'"
    :beschreibung="'Das Chart zeigt die Anzahl der Zählerumstellungen in den verschiedenen Teams. Die höchsten Gradienten zeigen die Handlungspunkte mit dem größten Wirkpotential auf.'"
    :width="1000" 
    :height="500"
    :stationen="['Entschieden (Team NNP)', 'Bei Kunden umgestellt (Team NMS)', 'Technisch Umgestellt (Team NND)', 'Kaufmännisch Umgestellt (Team NNP)']"
    :werte="[100, 80, 60, 40, 30]"
  />

  Komponente verlangt Überschrift, Width und Height als Props.
  Die Daten des Charts werden als StationenBezeichnung und StationenDatenflüsse verändert.
  Soll sich mit der Anpassung der Daten ändern.
-->

<script setup>

import { ref, onMounted, onUpdated } from 'vue'

//npm install plotly.js-dist
//import Plotly from "plotly.js-dist"
//https://www.chartjs.org/docs/4.3.0/getting-started/integration.html
import Chart from 'chart.js/auto';
//import Chart from 'chart.umd.js'

import { getRelativePosition } from 'chart.js/helpers';


//props definiert
const props =  defineProps({
    überschrift: String,
    beschreibung: String,
    width: Number,
    height: Number,
    stationen: Array, //['Entschieden', 'Vorbereitet', 'Bei Kunden umgestellt', 'Technisch Umgestellt', 'Kaufmännisch Umgestellt']
    werte: Array // [100, 80, 60, 40, 30]
});

//das konstruierte datenobjekt   
const chartData = ref(
  [
    {
      x: props.stationen,
      y: props.werte,
      type: 'bar'
    }
  ]
)

//das screenLayout
const screenLayout = ref(
  {
    //title: props.überschrift,
    width: props.width,
    height: props.height,
    font: {
      size: 10
    }
  }
)


//update des charts
function updateChart(chartData, screenLayout){
  /**
   * aktualisiert das Chart
   */
  const ctx = ref(document.getElementById('chart'));
  console.log("chartData:",chartData.value)

  const chart = ref(new Chart(ctx.value, {
    type: 'bar',
    data: {
      labels: chartData.value[0].x,
      datasets: [{
        label: '#Anzahl Zähler',
        data: chartData.value[0].y,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  }));
}


onMounted(() => {
  /**
   * Wird beim Mounten
   */

  updateChart(chartData, screenLayout)

})

onUpdated(() => {
  /**
   * Wird jeder Anpassung des Dom aufgerufen.
   */
  updateChart(chartData, screenLayout
  )
})

</script>

<template>

  <h1 :v-if="props.überschrift">{{props.überschrift}}</h1>
  <p :v-if="props.beschreibung">{{ props.beschreibung }}</p>
  <!--p>{{ props }}</p>
  <p>{{ this }}</p>
  <p>{{ chartData }}</p>
  <p>{{ screenLayout }}</p-->
  <canvas id="chart"></canvas>

</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
