<!-- 
  Die Komponente ist eine FotoUpload.
  Er soll zum Beispiel für den Upload von Zählerständen verwendet werden.
  Nach dem Upload kann eine Vorschau des Bildes angezeigt werden.
  Dafür muss die Prop "preview" auf true stehen.
  Das Foto kann dann z.B. mit Axios ans Backend versandt werden: https://stackoverflow.com/questions/43013858/how-to-post-a-file-from-a-form-with-axios
  MIT OCR: https://github.com/naptha/tesseract.js/
  Eingebunden wird die Komponente mit: 
                 npm install tesseract.js
    importieren: npm install bseblocks 

    im script: import FotoUpload from 'bseblocks/components/FotoUpload.vue';

    im template: 

      <FotoUpload
        @input="(zählerfoto) => console.log('File empfangen:', zählerfoto)"
        :preview="true"
      />

-->

<script setup>

import { ref, computed, onMounted, onUpdated } from 'vue'
import Tesseract from 'tesseract.js';

//props definieren
const props =  defineProps({
  preview: Boolean
});

//definition der emis
const emit = defineEmits(['input'])

//definition des files
const zählerfoto = ref({})

const eingabeIstValid = computed(() => {
  /**
   * Ermittelt, ob das Datum nach Min und Max valide ist.
   * Computed Property
   */
  
  console.log("validityChecked:")
  return false
})

function dateiHochgeladen(event){
  /**
   * Wird aufgerufen, wenn eine Datei ausgewählt wurde.
   * Liest das Änderungsdatum aus dem Foto aus.
   * Ermöglicht die Vorschau in der Komponente.
   * Versendet das Foto mit Emit an die höhere Komponente
   */
  console.log("Datei wurde hochgeladen:", event.target.files[0], zählerfoto)
  
  zählerfoto.value["file"] = event.target.files[0]
  zählerfoto.value["ablesedatum"] = new Date(Date.parse(event.target.files[0].lastModifiedDate))
  zählerfoto.value["ablesedatum_tag"] = String(zählerfoto.value["ablesedatum"].getDate()).padStart(2, '0')
  zählerfoto.value["ablesedatum_monat"] = String((zählerfoto.value["ablesedatum"].getMonth()+1)).padStart(2, '0')
  zählerfoto.value["ablesedatum_jahr"] = String((zählerfoto.value["ablesedatum"].getFullYear())).padStart(2, '0')
  
  zählerfoto.value["ablesedatum_str"] = zählerfoto.value["ablesedatum_jahr"]+"-"+ zählerfoto.value["ablesedatum_monat"] +"-"+ zählerfoto.value["ablesedatum_tag"]
  zählerfoto.value["src"] = URL.createObjectURL(event.target.files[0]);
  
  Tesseract.recognize(
    zählerfoto.value["src"],
    'deu',
    { logger: m => console.log(m) }
  ).then(({ data: { words } }) => {

    //zählerstand wurde erkannt
    console.log("boxen wurden in bildgefunden: ", words );

    boxAuswählen(words)
    
    /*words.forEach((element) => {
      
      console.log("element", element.bbox, element.text, element.confidence);

      //viereck zeichnen
      //const canvas = document.getElementById("preview");
      //console.log("canvas:",canvas, )
      
      const ctx = canvas.getContext("2d");
      ctx.beginPath();
      ctx.moveTo(20, 20);
      ctx.lineTo(20, 100);
      ctx.lineTo(70, 100);
      ctx.strokeStyle = "red";
      ctx.stroke();
      

    });
    */
  })

  console.log("daten: ", zählerfoto)
  emit('input', zählerfoto)
}

function boxAuswählen(liste){
  /**
   * Wird aufgerufen, wenn das Foto erkannt wurde.
   * Wählt aus der Liste der Boxen die vielversprechenste aus
   */
  liste.forEach((box) => {

    //fläche und abstand ergänzen
    boxAnreichern(box);

    
  });
  //console.log("liste nach erkennung:", box)
}

function boxAnreichern(box){
  /**
   * wird für jede box aufgerufen
   * ergänzt fläche und abstand in der box
   * gibt die box zurück.
   */

  //fläche berechnen
  box["fläche"] = (box.bbox.x1  - box.bbox.x0) * (box.bbox.y1  - box.bbox.y0) 

  //abstand mitte zur mitte brechnen
  const foto = document.getElementById("foto")
  box["mitte_x"] = box.bbox.x0 + (box.bbox.x1  - box.bbox.x0) / 2 
  box["mitte_y"] = box.bbox.y0 + (box.bbox.y1  - box.bbox.y0) / 2 

  box["abstand_zur_mitte_x"] = Math.abs(foto.clientWidth / 2 - box["mitte_x"])
  box["abstand_zur_mitte_y"] = Math.abs(foto.clientHeight / 2 - box["mitte_y"])

  box["abstand_zur_mitte"] = Math.sqrt((box.abstand_zur_mitte_x * box.abstand_zur_mitte_x) + (box.abstand_zur_mitte_y * box.abstand_zur_mitte_y))
  console.log("box angereichert: ", box.fläche, box.abstand_zur_mitte, box.text )
  
  return box
}

</script>

<template>
  <!--p>object: {{ zählerfoto }}</p>
  <p>eingabe: {{ eingabe }}</p>
  <p>validity: {{ eingabeIstValid }}</p-->
  
  <div>
    <input 
      type="file" 
      accept="image/jpeg, image/png, image/jpg"
      @change="dateiHochgeladen($event)"
    >
  </div>
  
  <br>
  <div v-if="zählerfoto && preview" id="preview"  >
    <img 
      id="foto"
      class="preview"  
      :src="zählerfoto['src']" 
    />
  </div> 

</template>

<style scoped>
.preview{
  width:30%
}
</style>
