<!-- 
  Die Komponente ist eine FotoUpload.
  Er soll zum Beispiel für den Upload von Zählerständen verwendet werden.
  Nach dem Upload kann eine Vorschau des Bildes angezeigt werden.
  Dafür muss die Prop "preview" auf true stehen.
  Das Foto kann dann z.B. mit Axios ans Backend versandt werden: https://stackoverflow.com/questions/43013858/how-to-post-a-file-from-a-form-with-axios

  Eingebunden wird die Komponente mit: 
    importieren: npm install bseblocks

    im script: import FotoUpload from 'bseblocks/components/FotoUpload.vue';

    im template: 

      <FotoUpload
        @input="(zählerfoto) => console.log('File empfangen:', zählerfoto)"
        :preview="true"
      />

-->

<script setup>

import { ref, computed, onMounted, onUpdated } from 'vue'

//props definieren
const props =  defineProps({
  preview: Boolean
});

//definition der emis
const emit = defineEmits(['input'])

//definition des files
const zählerfoto = ref({})

const eingabeIstValid = computed(() => {
  /**
   * Ermittelt, ob das Datum nach Min und Max valide ist.
   * Computed Property
   */
  
  console.log("validityChecked:")
  return false
})

function dateiHochgeladen(event){
  /**
   * Wird aufgerufen, wenn eine Datei ausgewählt wurde.
   * Liest das Änderungsdatum aus dem Foto aus.
   * Ermöglicht die Vorschau in der Komponente.
   * Versendet das Foto mit Emit an die höhere Komponente
   */
  console.log("Datei wurde hochgeladen:", event.target.files[0], zählerfoto)
  
  zählerfoto.value["file"] = event.target.files[0]
  zählerfoto.value["ablesedatum"] = new Date(Date.parse(event.target.files[0].lastModifiedDate))
  zählerfoto.value["ablesedatum_tag"] = String(zählerfoto.value["ablesedatum"].getDate()).padStart(2, '0')
  zählerfoto.value["ablesedatum_monat"] = String((zählerfoto.value["ablesedatum"].getMonth()+1)).padStart(2, '0')
  zählerfoto.value["ablesedatum_jahr"] = String((zählerfoto.value["ablesedatum"].getFullYear())).padStart(2, '0')
  
  zählerfoto.value["ablesedatum_str"] = zählerfoto.value["ablesedatum_jahr"]+"-"+ zählerfoto.value["ablesedatum_monat"] +"-"+ zählerfoto.value["ablesedatum_tag"]
  zählerfoto.value["src"] = URL.createObjectURL(event.target.files[0]);
  
  console.log("daten: ", zählerfoto)
  emit('input', zählerfoto)
}

</script>

<template>
  <!--p>object: {{ zählerfoto }}</p>
  <p>eingabe: {{ eingabe }}</p>
  <p>validity: {{ eingabeIstValid }}</p-->
  
  <div>
    <input 
      type="file" 
      accept="image/jpeg, image/png, image/jpg"
      @change="dateiHochgeladen($event)"
    >
  </div>
  
  <br>
  <div v-if="zählerfoto && preview" id="preview"  >
    <img class="preview"  :src="zählerfoto['src']" />
  </div> 

</template>

<style scoped>
.preview{
  width:30%
}
</style>
