<script setup>

  //import DiagrammSankey from './components/DiagrammSankey.vue';
  //import Datepicker from './components/Datepicker.vue';
  //import FotoUpload from './components/FotoUploadOCR.vue';
  import FotoCaptureOverlayed from './components/FotoCaptureOverlayed.vue';
  import FotoStreamer from './components/FotoStreamer.vue';
  //import DiagrammBar from './components/DiagrammBar.vue';
  //import DiagrammBarChartJS from './components/DiagrammBarChartJS.vue';

  import { ref } from 'vue';

</script>

<template>
  
  Komponente: [

  <FotoStreamer
        @input="(zählerfoto) => console.log('File empfangen:', zählerfoto)"
        :preview="true"
  />
  
  <!--DiagrammBarChartJS
    :überschrift="'PROZESSANALYSE'"
    :beschreibung="'Das Chart zeigt die Anzahl der Zählerumstellungen in den verschiedenen Teams. Die höchsten Gradienten zeigen die Handlungspunkte mit dem größten Wirkpotential auf.'"
    :width="1000" 
    :height="500"
    :stationen="['Entschieden (Team NNP)', 'Bei Kunden umgestellt (Team NMS)', 'Technisch Umgestellt (Team NND)', 'Kaufmännisch Umgestellt (Team NNP)']"
    :werte="[100, 80, 60, 40, 30]"
  /-->
  ]
</template>

<style scoped>

</style>
